<a href="https://colab.research.google.com/github/Wikanes-k/DWDM21/blob/main/Project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import os

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
path = '/content/drive/My Drive/DWDM_Project'

In [5]:
data_st = pd.read_csv(os.path.join(path,'data_station.csv'))
data_st

      id  station_code           name  ... giveway dual_track          comment
0      1          1001        กรุงเทพ  ...       1          1              NaN
1      2          1002          ยมราช  ...       1          1              NaN
2      3          1004         สามเสน  ...       1          1              NaN
3      4          1006     ประดิพัทธ์  ...       1          1          ป.สระอิ
4      5          1007  ชุมทางบางซื่อ  ...       1          1              NaN
..   ...           ...            ...  ...     ...        ...              ...
677  678          5025       บางโทรัด  ...       0          0  ศก.สน. กม.13.82
678  679          5026      บ้านกาหลง  ...       0          0  ศก.สน. กม.15.78
679  680          5027     บ้านนาขวาง  ...       0          0  ศก.สน. กม.17.94
680  681          5028      บ้านนาโคก  ...       0          0  ศก.สน. กม.19.97
681  682          5029       เขตเมือง  ...       0          0  ศก.สน. กม.23.73

[682 rows x 18 columns]

In [6]:
data_t = pd.read_csv(os.path.join(path,'data_train.csv'))
data_t

     Zone  goback   Num  ...            NameStEng            NameStEng_L  Service
0       1       1   0.0  ...              Bangkok       Ban Plu Ta Luang    False
1       1       1   1.0  ...              Bangkok      Bang Sue Junction     True
2       1       1   1.0  ...             Makkasan              Hua Takhe    False
3       1       1   2.0  ...              Bangkok      Bang Sue Junction     True
4       1       1   4.0  ...              Bangkok       Ban Plu Ta Luang    False
..    ...     ...   ...  ...                  ...                    ...      ...
229     5       2  26.0  ...              Nam Tok              Thon Buri    False
230     5       2  27.0  ...  Prachuap Khiri Khan              Thon Buri    False
231     5       2  28.0  ...            Lang Suan              Thon Buri    False
232     5       2  29.0  ...              Nam Tok              Thon Buri    False
233     5       2  30.0  ...              Nam Tok  Nong Pla Duk Junction    False

[234 rows x 12 columns]

In [7]:
data_rst = pd.read_csv(os.path.join(path,'railstation.csv'))
data_rst

     OBJECTID          NAMET  ...          Y  Neareat_AH
0           1        กรุงเทพ  ...   8.213274
1           2          ยมราช  ...   7.785456
2           3         สามเสน  ...  14.088246
3           4     ประดิพัทธ์  ...  14.530267
4           5  ชุมทางบางซื่อ  ...  17.980781        AH13
..        ...            ...  ...        ...         ...
677       678       บางโทรัด  ...  13.799641
678       679      บ้านกาหลง  ...  13.980168
679       680     บ้านนาขวาง  ...  17.878784
680       681      บ้านนาโคก  ...  13.941516
681       682       เขตเมือง  ...  13.744026         AH2

[682 rows x 9 columns]

In [8]:
merged_data_rst_data_st = data_rst.merge(data_st,how='left',left_on='NAMET',right_on='name')
merged_data_rst_data_st

     OBJECTID          NAMET  ... dual_track          comment
0           1        กรุงเทพ  ...          1              NaN
1           2          ยมราช  ...          1              NaN
2           3         สามเสน  ...          1              NaN
3           4     ประดิพัทธ์  ...          1          ป.สระอิ
4           5  ชุมทางบางซื่อ  ...          1              NaN
..        ...            ...  ...        ...              ...
677       678       บางโทรัด  ...          0  ศก.สน. กม.13.82
678       679      บ้านกาหลง  ...          0  ศก.สน. กม.15.78
679       680     บ้านนาขวาง  ...          0  ศก.สน. กม.17.94
680       681      บ้านนาโคก  ...          0  ศก.สน. กม.19.97
681       682       เขตเมือง  ...          0  ศก.สน. กม.23.73

[682 rows x 27 columns]

In [9]:
merged_3_tables =merged_data_rst_data_st.merge(data_t,how='right',left_on='station_code',right_on='StStart')
merged_3_tables

     OBJECTID            NAMET  ...            NameStEng_L  Service
0         1.0          กรุงเทพ  ...       Ban Plu Ta Luang    False
1         1.0          กรุงเทพ  ...      Bang Sue Junction     True
2         1.0          กรุงเทพ  ...      Bang Sue Junction     True
3         1.0          กรุงเทพ  ...       Ban Plu Ta Luang    False
4         1.0          กรุงเทพ  ...  Chachoengsao Junction    False
..        ...              ...  ...                    ...      ...
229     442.0          ราชบุรี  ...              Thon Buri    False
230     434.0            น้ำตก  ...              Thon Buri    False
231     434.0            น้ำตก  ...              Thon Buri    False
232     434.0            น้ำตก  ...  Nong Pla Duk Junction    False
233     474.0  ประจวบคีรีขันธ์  ...              Thon Buri    False

[234 rows x 39 columns]

In [10]:
merged_3_tables.isnull().any()

OBJECTID            True
NAMET               True
NAMEE               True
ProvName            True
AmpName             True
TamName             True
X                   True
Y                   True
Neareat_AH          True
id                  True
station_code        True
name                True
en_name             True
th_short            True
en_short            True
chname              True
controldivision     True
exact_km            True
exact_distance      True
km                  True
class               True
lat                 True
long                True
active              True
giveway             True
dual_track          True
comment             True
Zone               False
goback             False
Num                False
IdTrain            False
NameFee            False
StStart            False
NameSt             False
StFinal            False
NameSt_L           False
NameStEng          False
NameStEng_L        False
Service            False
dtype: bool

##กำจัดค่า Missing

In [11]:
# หา mode
merged_3_tables_Nomissing =merged_3_tables[['NAMET']].mode()
# เติม mode ลงไปแทนค่า missing
merged_3_tables[['NAMET']] = merged_3_tables[['NAMET']].fillna('NAMET')

In [12]:
merged_3_tables.isnull().any()

OBJECTID            True
NAMET              False
NAMEE               True
ProvName            True
AmpName             True
TamName             True
X                   True
Y                   True
Neareat_AH          True
id                  True
station_code        True
name                True
en_name             True
th_short            True
en_short            True
chname              True
controldivision     True
exact_km            True
exact_distance      True
km                  True
class               True
lat                 True
long                True
active              True
giveway             True
dual_track          True
comment             True
Zone               False
goback             False
Num                False
IdTrain            False
NameFee            False
StStart            False
NameSt             False
StFinal            False
NameSt_L           False
NameStEng          False
NameStEng_L        False
Service            False
dtype: bool

In [13]:
merged_3_tables

     OBJECTID            NAMET  ...            NameStEng_L  Service
0         1.0          กรุงเทพ  ...       Ban Plu Ta Luang    False
1         1.0          กรุงเทพ  ...      Bang Sue Junction     True
2         1.0          กรุงเทพ  ...      Bang Sue Junction     True
3         1.0          กรุงเทพ  ...       Ban Plu Ta Luang    False
4         1.0          กรุงเทพ  ...  Chachoengsao Junction    False
..        ...              ...  ...                    ...      ...
229     442.0          ราชบุรี  ...              Thon Buri    False
230     434.0            น้ำตก  ...              Thon Buri    False
231     434.0            น้ำตก  ...              Thon Buri    False
232     434.0            น้ำตก  ...  Nong Pla Duk Junction    False
233     474.0  ประจวบคีรีขันธ์  ...              Thon Buri    False

[234 rows x 39 columns]

#ลองวิเคราะห์

In [14]:
Ex_0 = merged_3_tables[merged_3_tables['class']==1]        ##ดูชื่อสถานีที่มีขั้นบริการ(Class) เป็น 1
Ex_0[['name','class']]

                 name  class
76           มักกะสัน    1.0
81   ชุมทางฉะเชิงเทรา    1.0
82   ชุมทางฉะเชิงเทรา    1.0
83   ชุมทางฉะเชิงเทรา    1.0
84   ชุมทางฉะเชิงเทรา    1.0
..                ...    ...
222        สุไหงโก-ลก    1.0
224            หัวหิน    1.0
228            นครปฐม    1.0
229           ราชบุรี    1.0
233   ประจวบคีรีขันธ์    1.0

[127 rows x 2 columns]

In [15]:
Ex_1 = merged_3_tables.sort_values(by=['NAMET'],ascending=True)  ##ดูรหัสสถานี ชื่อสถานีและหมายเหตุโดยเรียงจากน้อยไปมาก
Ex_1[['station_code','NAMET','comment']]

     station_code        NAMET comment
93            NaN        NAMET     NaN
92            NaN        NAMET     NaN
91         3075.0  กบินทร์บุรี     NaN
90         3075.0  กบินทร์บุรี     NaN
89         3075.0  กบินทร์บุรี     NaN
..            ...          ...     ...
160        1222.0    เชียงใหม่     NaN
163        1222.0    เชียงใหม่     NaN
162        1222.0    เชียงใหม่     NaN
167        1164.0      เด่นชัย     NaN
166        1164.0      เด่นชัย     NaN

[234 rows x 3 columns]